doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Pug page
        style
            include ../css/style.css
    body
        include partials/header.pug
        main
            img(src="/img/pug.png", alt="Pug.js logo")
            h1 This page was made using Pug
            p I still don't fully understand how these template languages ​​can be useful compared to Nunjucks and Liquid.
            p Maybe for one-page websites, but for multi-page sites you need to write manually a lot of stuff.
            p Especially when you try to apply templates to your actual content.
        include partials/footer.html