<header>
    <a href="/"><div class="home-button">­ЪДЉ</div></a>
    <nav>
    <ul>
        <li><a href="/experience">Experience</a></li>
        <li><a href="/education">Education</a></li>
        <li><a href="/pug">­ЪљХ Pug</a></li>
        <li><a href="/ejs">­Ъца EJS</a></li>
    </ul>
    </nav>
    <a href="tel:+16479467300"><div class="call-button">­ЪЊъ</div></a>
    </header>